@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	min-height: 100dvh;
}

.question-selected {
	border: 2px solid;
}
